.list {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
.list li::marker {
  color: var(--color-gray-medium);
}
.listItemSuccess {
  color: var(--color-green-dark);
}
.listItemUnsuccess {
  color: var(--color-red-dark);
}
