.chipSuccessful {
  border-color: var(--color-green-dark);
  color: var(--color-green-dark);
}
.chipUnsuccess {
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
}
.counter {
  display: inline-block;
  margin-left: 3px;
  font-weight: 600;
}
