.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}
.container {
  width: 300px;
  padding: var(--spacing-large);
  outline: none;
  border-radius: var(--border-radius);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}
.modalSuccess {
  border: 1px solid var(--color-green);
  background-color: var(--color-green-light);
}
.modalUnsuccess {
  border: 1px solid var(--color-red-light);
  background-color: var(--color-red-lighter);
}
.button {
  display: block;
  margin: 0 auto;
}
