.button {
  min-width: 100px;
  padding: 0 16px;
  line-height: 36px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  background: none;
  background-color: var(--color-black-lighter);
  color: #fff;
  transition: background-color 0.7s;
}
.button:hover {
  background-color: var(--color-gray-dark);
}
.button:disabled {
  background-color: var(--color-gray-medium);
  color: var(--color-gray-light);
}
