.container {
  position: relative;
  display: flex;
  gap: 0 5px;
	max-width: 1200px;
	margin: auto;
  background-color: var(--color-gray);
  box-shadow: var(--box-shadow);
}
.column {
  flex-basis: 50%;
  padding: 20px;
  background-color: var(--color-white);
}
