:root {
  --color-white: #fff;
  --color-gray-light: #f8f9fa;
  --color-gray: #ececec;
  --color-gray-medium: #999999;
  --color-gray-dark: #515151;
  --color-black-lighter: #212121;

  --color-green-light: #b3e9b8;
  --color-green: #09d216;
  --color-green-dark: #0fb81a;

  --color-red-lighter: #efd8ca;
  --color-red-light: #d67d7d;
  --color-red-dark: #e06363;

  --box-shadow:
    0 16px 24px 2px  rgba(33, 37, 41, .02),
    0 6px  30px 5px  rgba(33, 37, 41, .04),
    0 8px  10px -5px rgba(33, 37, 41, .1);
}

*, *:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 20px;
  font-size: 16px;
  line-height: 1.7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--color-gray-light);
}
.headerText {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--color-gray-dark);
}
