:root {
  --color-gray-light: #f8f9fa;
  --color-gray: #ececec;
  --color-gray-medium: #999999;
  --color-gray-dark: #515151;
  --color-black-lighter: #2f2f2f;

  --color-green-light: #b3e9b8;
  --color-green: #09d216;
  --color-green-dark: #0fb81a;

  --color-red-lighter: #efd8ca;
  --color-red-light: #d67d7d;
  --color-red-dark: #e06363;

  --color-yellow-darker: #d3e35f;

  --spacing-medium: 16px;
  --spacing-large: 20px;

  --border-radius: 5px;
  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02),
    0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: var(--spacing-large);
  font-size: 16px;
  line-height: 1.7;
  font-family: sans-serif;
  background-color: var(--color-gray-light);
}
